<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
 <% include partials/_header %>
 <br>
 <br>
<% if (user_id) { %>
<% for (key in urls) { %>
 <a href="<%=urls[key]%>" target="_blank">Short URL </a>
 directs to <%= urls[key].value %>

 <form action="/urls/<%= urls[key] %>">
 <input type="submit" value="Edit" style="margin:5px;"/>
 </form>
  <!-- <a href = "/urls/<%= key %>">Click here to edit</a> -->
  <br>
  <form method="POST" action="/urls/<%= user_id[key]%>/delete">
  <input type="submit" value="Delete" style="margin:5px;"/>
  </form>
   <% } %>
 <br>
  <a href="/urls/new">Shorten another URL</a>
<% } else { %>
  <a href="/login">You must login to shorten emails</a>
  <% } %>
</body>
</html>


