<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
 <% include partials/_header %>
 <br>
 <br>
 <h4>Your shortened URLs...</h4>
<% if (email) { %>
<% for (key in urls) { %>
  <li><a href="/u/<%=key%>" target="_blank"><%=key%></a> redirects to <%=urls[key]%>

 <form action="/urls/<%=key%>" method="GET"><input type="submit" value="Edit" style="margin:5px;"/></form>
<form method="POST" action="/urls/<%=key%>/delete"><input type="submit" value="Delete" style="margin:5px;"/></form>
</li>
   <% } %>
 <br>
  <a href="/urls/new">Shorten another URL</a>
<% } else { %>
  <h4>You must register/login first to shorten emails</h4>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
  <% } %>
</body>
</html>


